.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

.App-header {
  margin: 5px 0;
  margin-top: -80px;
  margin-bottom: -70px;
}

.app-footer {
  margin: 30px 0;
  text-align: center;
}

.App-logo {
  max-width: 400px !important;
  display: block;
  margin: 0 auto;
}
